.skip-link{
  position: absolute;
  top: -999px;
  left: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 10px;
  left: 10px;
  width: auto;
  height: auto;
  z-index:9999;
  background-color: #000;
  color: #fff;  
  padding: 10 px 15 px;
  text-decoration: none;
}
header{
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
  display: inline-block;
  width: fit-content;
  text-align: center;
  color: brown;
  line-height: normal;
}
nav{
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 0;
  font-size: 150%;
}
nav{
  display:flex;
  justify-content: center;
  padding: 0;

}

ul{
  display:flex;
  gap: 100px;
  justify-content: center;  
  list-style-type: none;
  padding: 0;
  color:black
}

.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10px;
  padding: 10px;

}
.grid img{
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 10px green solid;
  padding: 10px;
  border-radius: 20px;
  background-color: lightgrey;
  object-fit: cover;
}
div{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
a{
  color: blue;
  text-decoration: none;
}
a:hover{
  color: red;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: xx-large;
}
div:nth-child(odd){
  background-color: lightblue;
}
p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  line-height: normal;
  color: black;
  text-align: justify;
  padding: 10px;}

  #special-list{
    font-size: 150%;
   } 